{% extends 'container_admin.html.twig' %}

{% form_theme form  'form/fields.html.twig'  %}

{% block title %}Gestion {{app.user.site.name}} - Articles{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{form_start(form)}}
            <div class="form-group row">
                {{form_label(form.title, "Titre de l'article", {"label_attr":{"class":"col-sm-2 col-form-label"}})}}
                <div class="col-sm-10">
                    {{form_widget(form.title, {"attr":{"class":"form-control", "placeholder":"Titre de l'article"}})}}
                </div>
            </div>
            <div class="form-group row">
                {{form_label(form.content, "Contenu de l'article", {"label_attr":{"class":"col-sm-2 col-form-label"}})}}
                <div class="col-sm-10">
                    {{form_widget(form.content, {"attr":{"class":"form-control", "rows":"20", "placeholder":"Contenu de l'article"}})}}
                </div>
            </div>
            <div class="form-group row">
                {{form_label(form.picture, "Image de l'article", {"label_attr":{"class":"col-sm-2 col-form-label"}})}}
                <div class="col-sm-10">
                    {{form_widget(form.picture, {"attr":{"class":"form-control"}})}}
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                     <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </div>
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>
    </div>

{% endblock %}
