{% extends 'container_admin.html.twig' %}

{% block title %}Gestion {{app.user.site.name}} - Article{% endblock %}

{% block content %}

    
    <h3>Nos articles</h3>
    <div class="row">
        <div class="col-sm-12">
            <a href="{{path('admin_article_edit')}}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Ajouter un article</a>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Titre</th>
                      <th scope="col">Modifier</th>
                      <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                      <td>{{article.title}}</td>
                      <td><a href="{{path("admin_article_edit_1", {"id":article.id})}}" class="btn btn-sm btn-info" role="button"><i class="fa fa-edit"></i></a></td>
                      <td><a href="{{path("admin_article_delete", {"id":article.id})}}" class="btn btn-sm btn-danger" role="button"><i class="fa fa-trash"></i></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
