<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>{% block title %}Nom équipage{% endblock %}</title>


    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    {% endblock %}

  </head>

  
  <body id="page-top">

      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% block linkHome %}#page-top{% endblock %}">{{site.name}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              {% block menuSection %}
                {% for sectionSite in site.sectionsSite %}
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#{{sectionSite.section.slug}}">{{sectionSite.section.title}}</a>
                      {#<a class="nav-link js-scroll-trigger" href="{{absolute_url(path('app_default_index', {'sitename':site.slug}))~'#'~sectionSite.section.slug}}">{{sectionSite.section.title}}</a>#}
                    </li>
                {% endfor %}
              {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
      
    {% block body %}
    
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{asset('build/runtime.js')}}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('select.selectpicker').selectpicker();
            });
        </script>
    {% endblock %}
    
  </body>
  

</html>
