{% extends 'AppBundle:Common:post.html.twig' %}

{% block title %}4L Trophy - {{site.name}} - Articles{% endblock %}

{% block titlePost %}Articles{% endblock %}

{% block imageHeader %}
    {% if site.headerImage is defined and site.headerImage is not null%}
        style="background-image: url({{asset('download/'~site.slug~"/"~site.headerImage.name)}});"
    {% else %}
        style="background-image: url({{asset('build/assets/img/header.jpg')}})";
    {% endif %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-lg-3 col-md-6">
                  <div class="service-box mt-5 mx-auto">
                        {% if article.picture is not null %}
                            <img src="{{asset('download'~article.picture.site.slug~article.picture.name)}}" alt="{{article.picture.alt}}" class="img-fluid"  alt="Equipier 2">
                        {% else %}
                            <img src="{{asset('build/assets/img/article-no-image.jpg')}}" class="img-fluid"  alt="Photo article">
                        {% endif %}
                        <h5 class="mb-3 text-primary">{{article.title}}</h5>
                        <p class="text-muted mb-0">{{ article.content|length > 200 ? article.content|slice(0, 200)|raw ~ '...' : article.content  }}</p>
                        <p><a href="{{path('app_article_view', {"sitename":site.slug, "slug":article.slug})}}">Lire la suite...</a></p>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
