{% extends 'container_admin.html.twig' %}

{% block title %}Gestion {{app.user.site.name}} - Partenaires{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Etes vous sur de vouloir supprimer l'image {{image.alt}} ?</h4>
            {{form_start(form)}}
            <div class="form-group row">
                <div class="col-sm-12">
                    <img src="{{asset('download/'~image.site.slug~"/"~image.name)}}" class="img-thumbnail" width="400" />
                </div>
            </div>
            {% if image.users |length %}
                <p><i class="fas fa-exclamation-triangle"></i> Image de profil pour :</p>
                <ul>
                    {% for user in image.users %}
                        <li>{{user}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if image.articles|length %}
                <div class="form-group row">
                    <div class="col-sm-12">
                        <p><i class="fas fa-exclamation-triangle"></i> Article rattaché à cette image :</p>
                        <ul>
                        {% for article in image.articles %}
                            <li><a href="{{path("admin_article_edit_1", {"id":article.id})}}">{{article.title}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if image.partners |length %}
                <p><i class="fas fa-exclamation-triangle"></i> Partenaire rattaché à cette image :</p>
                <ul>
                    {% for partner in image.partners %}
                        <li><a href="{{path("admin_partner_edit_1", {"id":partner.id})}}">{{partner.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Oui</button>
                     <a href="{{path('admin_partner_index')}}" class="btn btn-primary">Non, je la garde</a>
                </div>
            </div>
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>
    </div>

{% endblock %}
