{% extends 'container_admin.html.twig' %}

{% block title %}Gestion {{app.user.site.name}} - Photos{% endblock %}

{% block content %}

    
    <h3>Nos médias</h3>
    <p>Ces photos vous permettront de personnaliser votre site. Elle peuvent être utilisées pour votre photo de couverture, vos photos de profil, vos articles.</p>
    <div class="row">
        <div class="col-sm-12">
            <a href="{{path('admin_image_editmedia')}}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Ajouter un média</a>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Ajouté le</th>
                      <th scope="col">Modifier</th>
                      <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images if image is not instanceof('\\AppBundle\\Entity\\ImageSite') %}
                    <tr>
                      <td>{{image.alt}}</td>
                      <td>{{image.date|date('d/m/Y')}}</td>
                      <td><a href="{{path('admin_image_editmedia_1', {'id':image.id})}}" class="btn btn-sm btn-info" role="button"><i class="fa fa-edit"></i></a></td>
                      <td><a href="{{path("admin_image_delete", {"id":image.id})}}" class="btn btn-sm btn-danger" role="button"><i class="fa fa-trash"></i></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
               
    <h3>Nos photos</h3>
    <p>Ces photos apparaitrons dans la partie "Photos" de votre site. Elles représentent votre album photo</p>
    <div class="row">
        <div class="col-sm-12">
            <a href="{{path("admin_image_editphoto")}}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Ajouter une photo</a>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Ajouté le</th>
                      <th scope="col">Modifier</th>
                      <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images if image is instanceof('\\AppBundle\\Entity\\ImageSite') %}
                    <tr>
                      <td>{{image.alt}}</td>
                      <td>{{image.date|date('d/m/Y')}}</td>
                      <td><a href="{{path('admin_image_editphoto_1', {'id':image.id})}}" class="btn btn-sm btn-info" role="button"><i class="fa fa-edit"></i></a></td>
                      <td><a href="{{path("admin_image_delete", {"id":image.id})}}" class="btn btn-sm btn-danger" role="button"><i class="fa fa-trash"></i></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
