{% extends 'base.html.twig' %}

{% block title %}4L Trophy - {{site.name}}{% endblock %}

{% block body %}
    <header class="masthead text-center text-white d-flex" {% if site.headerImage is not null%}style="background-image: url({{asset('download/'~site.slug~"/"~site.headerImage.name)}});"{% else %}style="background-image: url({{asset('build/assets/img/header.jpg')}})";{% endif %}>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Le 4L Trophy avec {{ site.name }}</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
              <div class="text-faded mb-5 row">   
                    {% for user in site.users %}
                        <div class="col-lg-6">
                            {% if user.picture is not null %}
                                <img src="{{asset('download/'~user.picture.site.slug~"/"~user.picture.name)}}" class="mx-auto d-block rounded-circle" width="200" alt="Equipier 1" style="height:200px;">
                            {% else %}
                                <img src="{{asset('build/assets/img/unknow.jpeg')}}" class="mx-auto d-block rounded-circle" width="200" alt="Equipier 1" style="height:200px;">
                            {% endif %}
                            <p>{{user.__toString}}</p>
                        </div>
                    {% endfor %}
              </div>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#le-4l-trophy">Découvrir</a>
          </div>
        </div>
      </div>
    </header>

    {% for sectionSite in site.sectionsSite %}
        {% if sectionSite.section.type.name == 'article' %}
            {% include 'AppBundle:Default/Template:'~sectionSite.section.template with {'id':sectionSite.section.slug, 'title':sectionSite.section.title, 'articles':sectionSite.site.articles, 'sitename':sectionSite.site.slug} %}
        {% elseif sectionSite.section.type.name == 'photo' %}
            {% include 'AppBundle:Default/Template:'~sectionSite.section.template with {'id':sectionSite.section.slug, 'title':sectionSite.section.title, 'photos':photos, 'sitename':sectionSite.site.slug} %}
        {% elseif sectionSite.section.type.name == 'partenaires' %}
            {% include 'AppBundle:Default/Template:'~sectionSite.section.template with {'id':sectionSite.section.slug, 'title':sectionSite.section.title, 'partners':sectionSite.site.partners} %}
        {% elseif sectionSite.section.type.name == 'post' %}
            {% include 'AppBundle:Default/Template:'~sectionSite.section.template with {'id':sectionSite.section.slug, 'title':sectionSite.section.title, 'content':sectionSite.content} %}
        {% elseif sectionSite.section.type.name == 'contact' %}
            {% include 'AppBundle:Default/Template:'~sectionSite.section.template with {'id':sectionSite.section.slug, 'title':sectionSite.section.title, 'contacts':sectionSite.site.contacts, 'facebook':sectionSite.site.facebook, 'twitter':sectionSite.site.twitter, 'instagram':sectionSite.site.instagram} %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('build/index.js')}}"></script>
{% endblock %}